<!-- ヘッダー -->
<header>
  <h1><a href="/">Uma合致</a></h1>
  <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>

</header>

<div class="container">
<aside class="sidebar">
  <div class="menu">
    <h3 class="toggle-trigger ">馬名</h3>
    <ul class="horse-list collapsed">
      <% @horse_names.each do |horse_name| %>
        <li><%= link_to horse_name, race_stats_show_horse_data_path(horse_name: horse_name) %></li>
      <% end %>
    </ul>

    <h3 class="toggle-trigger ">騎手名</h3>
    <ul class="jockey-list collapsed">
      <% @jockey_names.each do |jockey_name| %>
        <li><%= link_to jockey_name, race_stats_show_jockey_data_path(jockey_name: jockey_name) %></li>
      <% end %>
    </ul>
  </div>
</aside>

<!-- メインコンテンツ -->
<main>
   <% flash.each do |key, message| %>
     <div class="<%= key %>"><%= message %></div>
   <% end %>

    <%= form_with(model: @race_result, url: race_stats_save_data_path, method: :post) do |form| %>
     
     <%= render 'error_messages', object: form.object %>
     
     <h2>データを入力してください</h2>
     <%= form.label :race_date, '競走日' %>
     <%= form.date_field :race_date, id: 'race-date-field' %>

     <%= form.label :horse_name, '馬名' %>
     <%= form.text_field :horse_name %>

      <%= form.label :jockey_name, '騎手名' %>
     <%= form.text_field :jockey_name %>

     <%= form.label :race_name, 'レース名' %>
     <%= form.text_field :race_name %>

     <%= form.label :position, '着順' %>
     <%= form.number_field :position %>

     <%= form.submit '保存' %>
   <% end %>
   <div class="win-percentage">
    <h1>勝率</h1>
    <div class="win-percentage-table-container">
    <table class="win-percentage-table">
        <thead>
          <tr>
            <th>馬名</th>
            <th>出場数</th>
            <th>勝利数</th>
            <th>勝率</th>
          </tr>
        </thead>
        <tbody>
          <% @horse_wins.each do |horse_win| %>
             <tr>
               <td><%= horse_win.horse_name %></td>
               <td><%= horse_win.race_results_count %></td>
               <td><%= horse_win.wins %></td>
               <td><%= (horse_win.win_percentage ).round %>%</td>
            </tr>
          <% end %>
        </tbody>
     </table>
     </div>
  </div>
   <h2>保存されたデータ</h2>
   <% if @race_results.present? %>
   <div class="meal-table">
     <table>
       <thead>
         <tr>
           <th>競走日</th>
           <th>レース名</th>
           <th>馬名</th>
           <th>騎手名</th>
           <th>着順</th>
           <th>削除機能</th>
         </tr>
       </thead>
      <tbody>
          <% @race_results.each do |race_result| %>
            <tr>
               <td><%= race_result.race_date %></td>
               <td><%= race_result.race_name %></td>
               <td><%= race_result.horse_name %></td>
               <td><%= race_result.jockey_name %></td>
               <td><%= race_result.position %></td>
               <td>
                 <%= form_with(url: race_stats_delete_data_path(race_result.id), method: :delete, local: true, data: { confirm: '本当に削除しますか？' }) do |form| %>
                 <%= form.submit '削除', class: 'delete-button' %>
                 <% end %>
              </td>
           </tr>
         <% end %>
       </tbody>
     </table>
    </div>
   <% else %>
     <p>保存されたデータはありません。</p>
   <% end %>
</main>
</div>
<!-- フッター -->
<footer>
  © 2023 「Uma合致」制作委員会
</footer>

